{%extends 'base.html'%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="resize" src="https://placehold.it/650x450" alt="Image">
            <h4>Welcome to our website!</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam eum asperiores, totam maiores neque sunt mollitia necessitatibus alias consectetur consequuntur. Nobis quidem dolore mollitia. Quod sunt veritatis consectetur est architecto?</p>
        </div>
        <div class="col-md-4">
            <div class="news">
                <h1>NEWS FEED</h1>
                <div></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa commodi eum doloribus architecto nemo obcaecati cupiditate enim consectetur laudantium hic saepe dolores quam distinctio, ducimus consequatur ab corporis laborum! Eos!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsum corporis adipisci! Quia, rem saepe? Nostrum ex quibusdam beatae tempora veritatis, vel et omnis corporis, velit possimus laborum ut eum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ea repellendus ducimus commodi quidem totam consequatur atque tempora. Tempora autem nisi itaque dolorum vero iure magnam aspernatur reiciendis non porro.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repudiandae, corporis temporibus reiciendis error laudantium minima necessitatibus eveniet quae, et, accusamus ipsum sit natus molestiae dolorum beatae sapiente cum fugiat.</p>
            </div>
            <div class="contact">
                <p><b>Nielsen, Zehe, & Antas, P.C.</b></p>
                <p>55 West Monroe Street, Suite 1800</p>
                <p>Chicago, Illinois 60603</p>
                <p>312-322-9900 phone</p>
                <p>312-322-9977 fax</p>
                <p style="color: rgb(145,24,24); text-decoration: underline;">ENielsen@nzalaw.com</p>
            </div>    
        </div>
    </div>
</div>

{%endblock%}